---
{
"stream": {
"$id": "events",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"event"
]
},
"fields": [
"id",
"uid",
"meta",
"name",
"linkedLocation",
"venueName",
"time",
"performers",
"ageRange",
"isTicketedEvent",
"photoGallery",
"slug"


],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    {{>schema-productCategory}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/style.css">

</head>

<body>
    <header class="bg-black">
        <div class="container mx-auto px-4 flex flex-wrap items-center py-2.5">
            <div class="logo w-full lg:w-1/4 px-4 text-center lg:lext-left">
                <a href="#" class="inline-block"><img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png"
                        alt="logo"></a>
            </div>
            <div class="nav w-full lg:w-2/4 px-4 py-2 ml-auto">
                <ul class="flex flex-row text-white justify-center lg:justify-end">
                    <li class="mx-2 lg:mx-5"><a href="index.html">Home</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">About</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Blog</a></li>
                    <li class="mx-2 lg:mx-5"><a href="search.html">Answers</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Contacts</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="relative overflow-hidden bg-no-repeat bg-cover mb-10" style="
    background-position: 50%;
    background-image: url('https://www.reneehospital.com/wp-content/uploads/2018/07/14-1.jpg');
    height: 350px;">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75)">
            <div class="flex justify-center items-center h-full container mx-auto">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-3xl md:text-5xl font-bold mt-0 mb-6">{{name}}</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="w-full pb-10">
        <div class="container mx-auto flex flex-wrap">
            <div class="w-full md:w-1/2 px-4">
                <div class="relative w-full overflow-hidden">
                    <img class="w-full border border-gray-300"
                        src="{{photoGallery.[0].image.url}}">
                </div>
            </div>
            <div class="w-full md:w-1/2 px-4 mt-5 md:mt-0">
                <h3 class="font-bold text-xl mb-5">Event Informations</h3>
                <table class="border-collapse w-full max-w-lg text-sm md:text-base">
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            Name :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{name}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            No Of Experience :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{linkedLocation}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            DOB :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{venueName}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            Phone No :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{time}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            Phone No :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{performers}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500">
                            Phone No :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{ageRange}}
                        </td>
                    </tr>
                    <tr>
                        <td class="py-2 text-gray-500">
                            Work At :-
                        </td>
                        <td class="py-2 pl-4">
                            {{isTicketedEvent}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    {{>footer}}

</body>

</html>