---
{
"stream": {
"$id": "jobs",
"source": "knowledgeGraph",
"destination": "pages",
"filter": {
"entityTypes": [
"job"
]
},
"fields": [
"id",
"uid",
"meta",
"description",
"name",
"slug",
"location",
"hiringOrganization",
"datePosted",
"validThrough",
"employmentType",
"workRemote",
"c_noOfOpenings",
"c_experiencejob",
"c_qualification",
"c_jobCity"

],
"localization": {
"locales": ["en"]
}
},
"urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Category page for {{name}}.>
    {{>head}}
    {{>schema-productCategory}}
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/style.css">
</head>

<body>
    <header class="bg-black">
        <div class="container mx-auto px-4 flex flex-wrap items-center py-2.5">
            <div class="logo w-full lg:w-1/4 px-4 text-center lg:lext-left">
                <a href="#" class="inline-block"><img src="https://www.dotsquares.com/img/uploads/dotlo-1-1.png"
                        alt="logo"></a>
            </div>
            <div class="nav w-full lg:w-2/4 px-4 py-2 ml-auto">
                <ul class="flex flex-row text-white justify-center lg:justify-end">
                    <li class="mx-2 lg:mx-5"><a href="index.html">Home</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">About</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Blog</a></li>
                    <li class="mx-2 lg:mx-5"><a href="search.html">Answers</a></li>
                    <li class="mx-2 lg:mx-5"><a href="">Contacts</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="relative overflow-hidden bg-no-repeat bg-cover mb-10" style="
    background-position: 50%;
    background-image: url('https://www.reneehospital.com/wp-content/uploads/2018/07/14-1.jpg');
    height: 350px;">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.75)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-3xl md:text-5xl font-bold mt-0 mb-6">{{name}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full pb-10">
        <div class="container mx-auto flex flex-wrap">
            <div class="w-full px-4">
                <h3 class="font-bold text-xl mb-5">Job Descriptions</h3>
                <table class="border-collapse w-full text-sm md:text-base">
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Hiring Organization :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{hiringOrganization}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Date Posted :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{datePosted}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Last Date :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{validThrough}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Employment Type :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{employmentType}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Remote Work :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{workRemote}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Salary :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{c_salery}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            No Of Openings :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{c_noOfOpenings}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            City :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{c_jobCity}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Qualification :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{c_qualification}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Experience :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{c_experiencejob}}
                        </td>
                    </tr>
                    <tr>
                        <td class="border-b border-b-gray-500 py-2 text-gray-500 w-1/4">
                            Job Descriptions :-
                        </td>
                        <td class="border-b border-b-gray-500 py-2 pl-4">
                            {{description}}
                        </td>
                    </tr>
                    <tr>
                        <td class="py-2 text-gray-500">
                            Locations :-
                        </td>
                        <td class="py-2 pl-4">
                            {{location}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    {{>footer}}
</body>

</html>